

@main("Welcome") {
    <div class="container">
        <h1 class="text-lg-center text-justify text-danger ">Current contacts</h1><br/><br/>
        <table class="table table-striped table-bordered">
            <tr><th>First</th><th>Last</th><th>Phone</th></tr>

               <tr>
                   <td>Jimy </td>
                   <td>Kamana </td>
                   <td>+35099990</td>
            </tr>
                   <tr>
      <td> <a class="btn btn-info-outline btn-xs" href="#">Edit</a></td>
     <td> <a class="btn btn-danger-outline btn-xs" href="#">Delete</a></td>
     <td> <a class="btn btn-success   btn-xn"  href="/foo">Next</a> </td>

          </tr>

               </table>
          </div>

}